.nonmetal {
  background: rgb(42, 94, 81);
}

.alkalineearthmetal {
  background: rgb(44, 56, 71);
}

.alkalimetal {
  background: rgb(18, 10, 61);
}

.transitionmetal {
  background: rgb(14, 47, 85);
}

.post-transitionmetal {
  background: rgb(12, 107, 114);
}

.metalloid {
  background: rgb(17, 59, 70);
}

.noblegas {
  background: rgb(0, 96, 109);
}

.halogen {
  background: rgb(41, 90, 105);
}

.lanthanide {
  background: rgb(30, 63, 73);
}

.actinide {
  background: rgb(20, 39, 63);
}
